<h1>Khóa học của tôi</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>{{index @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a
                            href="#"
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            data-id="{{this._id}}"
                        >Xóa</a>
                        <a
                            href="/courses/{{this._id}}/edit"
                            class="btn btn-primary"
                        >Sửa</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! modal xóa }}
<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Bạn thật sự muốn xóa?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger"
                    id="btn-delete-course"
                >OK</button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >Hủy</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete hidden form -->
<form method="POST" name="delete-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () { let courseId;
    let deleteForm = document.forms['delete-course-form'];
    $('#exampleModal').on('show.bs.modal', function (e) { const btn =
    $(e.relatedTarget); courseId = btn.data('id'); const btnDelete =
    document.querySelector('#btn-delete-course'); btnDelete.onclick = function
    () { deleteForm.action = '/courses/' + courseId + "?_method=DELETE";
    deleteForm.submit(); } }); });
</script>