<h1>Khóa học của tôi</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>{{index @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="#" class="btn btn-danger">Xóa</a>
                        <a
                            href="/courses/{{this._id}}/edit"
                            class="btn btn-primary"
                        >Sửa</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>